@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Onest:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

@layer base {
  body {
    font-family:' Comfortaa', sans-serif;
    /* @apply font-semibold; */
    @apply text-black;
    @apply antialiased;
    @apply bg-white;
    @apply scrollbar-hide;
  }

  button{
    @apply bg-black;
    @apply text-white;
  }
  li {
    @apply px-4;
    @apply cursor-pointer;
  }
}

@media not all and (min-resolution: 0.001dpcm) {
  img[loading="lazy"] {
    clip-path: inset(0.5px);
  }
}
@media (prefers-color-scheme: dark) {
  body {
    @apply bg-black;
    @apply text-white;


  }

  button {
    background-color: #fff; /* Dark mode background color */
    color: #000; /* Dark mode text color */
  }

  p{
    @apply text-systemGray;
  }
  h1{
    @apply text-white;
  }
}


  ::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
    /* border-radius: 50px; Radius of the scrollbar */
    /* background: transparent; Background of the scrollbar */
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background:transparent; /* Color of the tracking area */
    scroll-behavior: smooth ;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(129, 129, 129, 0.741); /* Set scrollbar handle color with transparency */
  }